.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.inputText{
display: block;
margin-top: 1px;
margin-bottom: 10px;
color: #fff;
}

.inputTextInfo{
display: block;
margin-top: 2px;
margin-bottom: 2px;
color: #fff;
}

.inputButton{
    padding: 7px;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(to bottom left, #ffb800, #714A13);
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin: 2px;
}

.inputButton:hover{
  background-image: linear-gradient(to bottom right, #714A13, #ffb800);
}


.form {
  width: 290px;
   font-family: 'DM Sans';
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.input{
    border-radius: 4px;
    font-family: 'DM Sans';
    font-weight: 700;
    margin-top: 3px;
    padding: 10px;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.5);
    background-color: #3F2712;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: start;
  color: #fff;
  font-family: "DM Sans";
}

.formContainer{
  border-radius: 30px;
  padding: 10px;
  background-color: #714A13;
  border: none;
}




.frame{
  border-radius: 30px;
  }



.iconLabelStart{
  font-family: 'Comic Sans MS';
  font-size: 20px;
  font-weight: 700;
  color: #ffb800;
  text-shadow: 0 0 8px #ffb800, 
               0 0 12px #ffb800, 
               0 0 16px #ffb800;
}

.iconLabelEnd{
  font-family: 'Comic Sans MS';
  font-size: 20px;
  font-weight: 700;
  color: #714A13;
  text-shadow: 0 0 8px #ffb800, 
               0 0 12px #ffb800, 
               0 0 16px #ffb800;
}



.iconLabelWrapper{
  display:flex;
  align-items: center;
  justify-content: center;

}



.logo{
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}


.symbol{
  text-decoration: none;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.symbol:hover {
    transform: scale(1.1);
    
  }

